language: android
jdk: oraclejdk8
sudo: require

android:
  components:
    - platform-tools
    - tools
    - build-tools-24.0.2
    - android-23
    - android-24
    - sys-img-armeabi-v7a-android-23
    - extra-android-m2repository
    - compile 'com.google.android.gms:play-services:9.4.0'
    - compile 'com.google.android.gms:play-services-auth:9.4.0'
    - compile 'com.google.firebase:firebase-core:9.4.0'


before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t android-23 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script: ./gradlew 
