language: android

jdk: oraclejdk7

android:
  components:
  # Uncomment the lines below if you want to
  # use the latest revision of Android SDK Tools
  - platform-tools
  - tools
  - build-tools-24.0.1
  - android-18
  - extra
  script: ./gradlew connectedAndroidTest
